/* Set the background color to black and text color to white */
body {
    background-color: black;
    color: white;
}

/* Style for the choice buttons */
button {
    height: 100px;
    width: 30%;
    font-size: 50px;
    margin: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the play-again button */
#play-again-button {
    font-size: 30px;
}

/* Style for the containers holding the player and computer choices, play-again button, round results, and choice icons */
#top-choices,
#bottom-choices,
#play-again,
#round-results,
#choice-icons {
    display: flex;
    justify-content: center;
    align-items: center;    
}

/* Style for the play-again and round results containers */
#play-again,
#round-results {
    flex-direction: column;
}

/* Style for the choice icons container */
#choice-icons {
    flex-direction: row;
    font-size: 50px;
}

/* Style for paragraphs */
p {
    margin-left: 10px;
    margin-right: 10px;
}

/* Style for the game title */
h1 {
    display: flex;
    justify-content: center;
    font-style: italic;
}

/* For devices with a width higher than 750px */
@media screen and (min-width: 750px) {
    button{
        margin: .5em;
        height: 120px;
        width: 10%;   
    }
}