body{
    background-color: black;
    color: white;
}
button{
    height: 100px;
    width: 30%;
    font-size: 50px;
    margin: 5px 5px 0 0;
}
#play-again-button{
    font-size: 30px;
}
#top-choices, #bottom-choices, #play-again, #round-results, #choice-icons{
    display: flex;
    justify-content: center;
    align-items: center;    
}
#play-again, #round-results{
    flex-direction: column;
}
#choice-icons{
    flex-direction: row;
    font-size: 50px;
}
p{
    margin-left: 10px;
    margin-right: 10px;
}
h1{
    display: flex;
    justify-content: center;
}

/* For devices with a width higher than px */
@media screen and (min-width: 800px) {
    button{
        margin: .5em;
        height: 120px;
        width: 10%;   
    }
}